.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  margin: 0 auto;
  width: 1052px;
  padding-left: 14px;
  padding-right: 12px;
  padding-top: 94px;
}

.menu__item-active {
  list-style: none;
}

.menu__item-link {
  text-decoration: none;
}

.menu__item {
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  line-height: -1px;
  letter-spacing: 0.011em;
}

.header-menu {
  display: flex;
  justify-content: space-between;
}

.header-links-list {
  text-underline-offset: 3.7px;
  margin-bottom: 3.35px;
  display: flex;
  padding-top: 3px;
  flex-direction: row;
  list-style: circle;
  font-weight: 400;
  font-size: 18px;
  gap: 28.7px;
  padding-left: 15px;
  top: 44px;
}

.header-logo-black {
  justify-self: center;
  width: 148px;
  height: 105px;
  margin-top: -2.5px;
}

.header-address {
  text-underline-offset: 3.5px;
  display: block;
  width: 250px;
  font-family: Raleway;
  font-size: 18px;
  font-weight: 400;
  line-height: 24.3px;
  font-style: normal;
  margin-left: 186.3px;
  line-height: 24.3px;
  text-align: left;
  letter-spacing: 0.005em;
}

.cover {
  margin-top: 96px;
  margin-right: 0;
  background-image: url(../images/lotus-flower.png);
  background-position: center;
  background-size: cover;
  width: 1100px;
  height: 755px;
  position: relative;
}

.overlay {
  position: absolute;
  inset: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  background: rgb(0, 0, 0);
  opacity: 0.6;
}

.cover-title {
  padding: 10px 45px 51px;
  text-transform: uppercase;
  color: white;
  font-size: 100px;
  font-weight: 700;
}

.aligned-text {
  display: block;
  line-height: 119px;
  letter-spacing: 30px;
  z-index: 1;
  position: relative;
}

.aligned-text-left {
  text-align: left;
  margin-top: 155px;
  margin-left: 5px;
}
.aligned-text-center {
  text-align: center;
  margin-top: 6px;
  margin-left: 3px;
}

.aligned-text-right {
  text-align: right;
  margin-right: 4.5px;
}

.letter-spacing-standard {
  letter-spacing: 0.3em;
}

.letter-spacing-extended {
  letter-spacing: 0.6em;
}

.no-letter-spacing {
  letter-spacing: 0em;
}

.cover-description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 76px;
}

.cover-description-text {
  margin-left: 82.6px;
  color: white;
  font-size: 22px;
  text-transform: uppercase;
  word-spacing: 18px;
  position: relative;
  z-index: 1;
}

.bet-button {
  padding: 12px 31px 12px 31px;
  font-size: 22px;
  border: 1px solid white;
  color: white;
  background: transparent;
  text-transform: uppercase;
  margin-right: 51px;
  z-index: 1;
  position: relative;
}

.lots {
  display: flex;
  flex-direction: column;
  max-width: 1052px;
}

.lots__heading {
  color: black;
  font-size: 40px;
  font-weight: 800;
  text-transform: uppercase;
  line-height: normal;
  padding-top: 181px;
  margin-left: 64px;
}

.cards-list {
  display: flex;
  flex-wrap: nowrap;
  list-style: none;
  margin-right: 20px;
}

.cards-list-item {
  padding-top: 26px;
  padding-left: 24px;
  flex-grow: 1;
  width: 334px;
  min-height: 563px;
  font-size: 22px;
  font-weight: 700;
  line-height: 120%;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  z-index: 1;
  padding: 47px 39px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 563px;
}

.card_type_film {
  background-image: url(../images/film.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  background-position: center;
  background-size: cover;
}

.card_type_book {
  background-image: url(../images/book.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  background-position: center;
  background-size: cover;
}

.card_type_picture {
  background-image: url(../images/picture.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  background-position: center;
  background-size: cover;
}

.card-title {
  padding-top: 3px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
  z-index: 1;
  font-size: 22px;
  line-height: 120%;
  font-weight: 700;
  text-decoration: underline;
  text-transform: uppercase;
}

.card-text {
  color: white;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  z-index: 1;
  line-height: 120%;
}

.card-link {
  color: white;
  position: relative;
  display: flex;
  z-index: 2;
  width: 334px;
  min-height: 563;
  text-decoration: none;
}

.lots__look-more-link {
  display: block;
  text-underline-offset: 4.5px;
  line-height: 23.48px;
  padding-top: 31px;
  margin-left: 64px;
  font-size: 20px;
  font-weight: 400;
}

.about {
  padding-top: 182px;
  width: 1052px;
  padding-left: 71px;
}

.about__column {
  display: grid;
  grid-template-columns: 2 1fr;
  justify-content: center;
  align-items: center;
}

.about__logo {
  padding-left: 46px;
  display: flex;
  width: 240px;
  background-color: black;
  border-radius: 100%;
  width: 240px;
  height: 240px;
}

.about__logo-image {
  width: 148px;
  min-height: 120px;
}

.about__title {
  padding-top: 5.5px;
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 700;
  padding-left: 72px;
}

.about__text-first {
  padding-left: 72px;
  padding-top: 6.5px;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  grid-column-start: 2;
  grid-row-start: 2;
}

.about__text-second {
  margin-top: 24.5px;
  padding-left: 72px;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  grid-column-start: 2;
  grid-row-start: 4;
}

.footer {
  padding-top: 180px;
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: start;
  margin: 0 auto;
  width: 1000px;
  min-height: 72px;
}

.footer__menu {
  display: flex;
  justify-content: space-between;
}

.footer__menu-list {
  list-style: none;
  width: 154px;
  text-align: center;
}

.footer__menu-item {
  font-size: 18px;
  text-underline-offset: 3px;
}

.footer__menu-item-link {
  text-decoration: none;
}

.footer__menu-item-active {
  text-decoration: underline;
}

.footer__address {
  display: block;
  width: 250px;
  text-underline-offset: 3px;
  font-size: 18px;
  font-weight: 400;
  line-height: 24.3px;
  font-style: normal;
  letter-spacing: 0.004em;
}

.footer__social-list {
  margin-bottom: 12px;
  display: flex;
  justify-content: space-between;
  padding-left: 184px;
}

.footer__social-list-item {
  list-style: none;
}

.footer__social-icon {
  color: black;
  width: 48px;
  list-style: none;
  text-align: none;
}
